<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ejemplo HTML5-CSS3</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mi Primer Pagina Web CSS3">
    <meta name="keywords" content="HTML5, CSS3, Web, Diseño web, UMG"/>
    <link href="../content/Estilo1.css" rel="stylesheet">
</head>
<body class="body">

    <header class="pageHeader">
        <nav><ul>
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Acerca De</a></li>
            <li><a href="#">Contactanos</a></li>
        </ul></nav>
    </header>
    <!-- adicionar el cuerpo de la pagina utilizando DIV's-->
    <div class="Main">
        <div class="content">
            <article class="Top">
                <header>
                    <h2><a href="#">¿Que es HTML5?</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 27/07/2023 por UMG-Guastatoya</i></h5>
                </footer>
                <content>
                    <p>texto de Ejemplo</p>
                    <p>texto de Ejemplo</p>
                </content>
            </article>
            <article class="Bottom">
                <header>
                    <h2><a href="#">¿Que es CSS3?</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 27/07/2023 por UMG-Guastatoya</i></h5>
                </footer>
                <content>
                    <p>texto de Ejemplo</p>
                    <p>texto de Ejemplo</p>
                </content>
            </article>
        </div>
        <!-- fin del div content-->

        <!-- El Elemento HTML Aside (<aside>) representa una seccion
            consisste en contenido que esta tangencialmente relacionado
            que le rodea, que podria ser considerado independiente de-->
        <aside class="top-sidebar">
            <h2>Navegacion</h2>
            <ul class="navigation">
                <li><a href="">Inicio</a></li>
                <li><a href="">Noticias</a></li>
                <li><a href="">Acerca De</a></li>
                <li><a href="">Contactanos</a></li>
            </ul>
        </aside>
        <aside class="bottom-sidebar">
            <div class="featured">
                <h2>¿Que es y para que sirve JavaScript?</h2>
                <p>JavaScript (JS) es un lenguaje</p>
                <a href="">Leer Mas >></a>
            </div>
        </aside>
    </div>

    <footer class="pageFooter">
        <p>Copyright &copy; 2018 - www.misitio.com</p>
    </footer>
</body>
</html>